<!doctype html>
<html lang="ru">
<head>
    {% block head %}
        <link rel="stylesheet" href="/App/Template/twig/css/baseTemplate/style.css"/>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Домашняя работа - Блог новостей!</title>
    {% endblock %}
</head>
<body>
    <div id="body">
        <div id="header" class="padding">
            <div id="logo">
                <a href="http://profit.local/">
                    <img src="/App/Template/twig/images/logo.png" alt="ProfitNews.LOCAL"/>
                </a>
                <span>Домашняя работа - Блог новостей!</span>
            </div>

        </div>
        <div id="content" class="padding">
            {% block content %}{% endblock %}
        </div>
        <div id="footer" class="padding">
            {% block footer %}
                &copy; Copyright 2021 by <a href="mailto: svytoi.nik@gmail.com">Bogatyrev Nikolay</a>.
            {% endblock %}
        </div>
    </div>
</body>
</html>